*{
    box-sizing: border-box;
    margin: 0;
}
.title{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
    position: sticky;
    top: 0;
    height: 35vh;
    width: 100%;
}
#Home{
    background-color: coral;
    width: 100%;
    height: 100vh;
    display: flex;
}
#About{
    background-color: rgb(24, 244, 9);
    width: 100%;
    height: 100vh;
}
#Courses{
    background-color: rgb(47, 54, 116);
    width: 100%;
    height: 100vh;
    display: flex;
}
#Contact{
    background-color: rgb(70, 199, 145);
    width: 100%;
    height: 100vh;
    display: flex;
}
